@import "fonts";
@import "rouge-github";

$cu_link_blue:#3a6fa2;
$cu_primary_blue: #000d74;
$cu_dark_gray: #555555;

* {
    // margin: 0;
    // padding: 0;
    line-height: 1.3;
    box-sizing: border-box;
    color: inherit;
    text-decoration: inherit;
}

body {
    text-rendering: optimizeLegibility;
    font-feature-settings: 'kern'1;
    text-rendering: optimizeLegibility;
    font-feature-settings: 'liga'1;
    font-family: "cooper-hewitt";
    font-size: 1.4rem;
    padding: 3rem;
    padding-top: 1rem;
    max-width: 1000px;
    margin: auto;

    line-height: 1.3;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border: 0px solid blue;
}

#logo {
  font-size:2.3rem;
  white-space:nowrap;
}

#brand {
  background: $cu_link_blue;
  background: linear-gradient(90deg, $cu_dark_gray 60%, black 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

    span {
      padding: 0.2rem 0.5rem 0 0;
      margin: 0.0rem 0.2rem;
      // border-radius: 0 0.222rem;
      /* color: white; */
      font-weight: bolder;
      background: rgba(0,0,0,0.01);
      border-top: 4px inset rgba(0,0,0,0.2);
      border-right: 4px inset black;
    }
}

.expander {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    border: 1px solid gray;
}

.expander > .inner, .expander > p {
    letter-spacing: 0.02em;
}

.expander > .inner {
    flex: 1;
    overflow: hidden;
    // background: white;
    color: #676767;
    // transition: opacity 0.3s ease;
    font-size: 90%;
    line-height: 1.5;
    pointer-events: none;
    background: rgba(100%, 100%, 100%, 0.7);
}

.expander > .name {
    color: $cu_dark_gray;
    background: rgba(100%, 100%, 100%, 0.7);
    border-bottom: none;
    font-weight: bolder;
}

.feature > div {
    padding: 0.8rem;
    padding-top: 0.5rem;
    padding-bottom: 0.25rem;
}
.expander > div {
    width: 100%;
}

.feature {
    height: 100%;
}

section#main {
  section-content {
    display: block;
  }
}

section.info {
  padding: 1.5rem 0;
}

section, top-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
}

section-title {
    width: 24rem;
    font-size: 105%;
    text-align: left;
    padding-right: 1rem;
    font-weight: normal;
}

section-title + section-content {
    margin-left: 1rem;
}

section section-content#full-width {
  width: 100%;
  &> li {
    font-size: 120%;
    display: block;
    width: 100%;
    padding-bottom: 1rem;
    margin-bottom: 0rem;
  }
}

section > section-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    color: gray;
    // font-size: 90%;
}

section-content section-title {
  color: $cu_dark_gray;
}

section-content > li {
    display: block;
    width: 49%;
    padding-bottom: 1rem;
    margin-bottom: 0rem;

    font-size: 90%;

    // padding: 0.5em 0;
    // display: block;
    // color: #555;
    // font-size: 120%;
    // width: 100%;
}

li > p:last-child {
    margin-bottom: 0em;
}

top-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.top-button {
    // border: 1px solid rgb(6, 121, 167);
    color: $cu_link_blue;
    border-radius: 0.3rem;
    padding: 0.2rem 0.4em;
    font-family: fira-mono;
    letter-spacing: 0.05em;
    font-size: 80%;
    text-transform: uppercase;
    position: relative;
    top: -0.2rem;
}

footer section {
  font-size: 70%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #555;
    margin: 0 0 20px;
}

p,
ul,
ol,
table,
pre,
dl {
    margin: 0 0 20px;
}

a {
    font-weight: bolder;
    color: $cu_link_blue;
    text-decoration: none;
}

a, a:hover {
    transition: color 0.2s;
}

a:hover {
    opacity: 0.6;
}

a small {
    font-size: 11px;
    color: #777;
    margin-top: -0.3em;
    display: block;
}

a:hover small {
    color: #777;
}

.wrapper {
    // width:860px;
    // margin:0 auto;
}

blockquote {
    border-left: 1px solid #e5e5e5;
    margin: 0;
    padding: 0 0 0 20px;
    font-style: italic;
}

code,
pre {
    font-family: fira-mono;
    color: #333;
}

pre {
    padding: 8px 15px;
    background: #f8f8f8;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    text-align: left;
    padding: 5px 10px;
    border-bottom: 1px solid #e5e5e5;
}

dt {
    color: #444;
    font-weight: 700;
}

th {
    color: #444;
}

img {
    max-width: 100%;
}

header {
    -webkit-font-smoothing: subpixel-antialiased;
    margin: 0;
    padding: 0;
}

ul.downloads {
    list-style: none;
    height: 40px;
    padding: 0;
    background: #f4f4f4;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    width: 270px;
}

.downloads li {
    width: 89px;
    float: left;
    border-right: 1px solid #e0e0e0;
    height: 40px;
}

.downloads li:first-child a {
    border-radius: 5px 0 0 5px;
}

.downloads li:last-child a {
    border-radius: 0 5px 5px 0;
}

.downloads a {
    line-height: 1;
    font-size: 11px;
    color: #676767;
    display: block;
    text-align: center;
    padding-top: 6px;
    height: 34px;
}

.downloads a:hover,
.downloads a:focus {
    color: #675C5C;
    font-weight: bold;
}

.downloads ul a:active {
    background-color: #f0f0f0;
}

strong {
    color: #222;
    font-weight: 700;
}

.downloads li+li+li {
    border-right: none;
    width: 89px;
}

.downloads a strong {
    font-size: 14px;
    display: block;
    color: #222;
}

section {
    padding-top: 0.5rem;
    border-top: 1px solid #ccc;
    // max-width: 960px;
    // margin: 0 auto;
    // padding-bottom: 50px;
}

small {
    font-size: 11px;
}

hr {
    border: 0;
    background: #e5e5e5;
    height: 1px;
    margin: 0 0 20px;
}

footer {
    bottom: 50px;
    -webkit-font-smoothing: subpixel-antialiased;
}

@media print,
screen and (max-width: 960px) {

    div.wrapper {
        width: auto;
        margin: 0;
    }

    header,
    section,
    footer {
        float: none;
        position: static;
        width: auto;
    }

    header {
        padding-right: 320px;
    }

    section {
        border: 1px solid #e5e5e5;
        border-width: 1px 0;
        padding: 20px 0;
        margin: 0 0 20px;
    }

    header a small {
        display: inline;
    }

    header ul {
        position: absolute;
        right: 50px;
        top: 52px;
    }
}

@media print,
screen and (max-width: 720px) {
    body {
        word-wrap: break-word;
    }

    header {
        padding: 0;
    }

    header ul,
    header p.view {
        position: static;
    }

    pre,
    code {
        word-wrap: normal;
    }
}

@media print,
screen and (max-width: 480px) {
    body {
        padding: 15px;
    }

    .downloads {
        width: 99%;
    }

    .downloads li,
    .downloads li+li+li {
        width: 33%;
    }
}

@media print {
    body {
        padding: 0.4in;
        font-size: 12pt;
        color: #444;
    }
}