<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Lato|Roboto&display=swap" rel="stylesheet">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css" }}"> 
  </head>
  <body>
    <div class="wrapper">
      <header>
        <top-section>
          <span id="logo" style="">
            {% if site.logo %}
              <img class="logo" src="{{site.logo | relative_url}}" alt="Logo" />
            {% endif %}

            <span id="brand">Open<span>DML</span></span>
          </span>
          <div>
              <a href="#" class="top-button" id="docs">docs</a>
              <a href="#" class="top-button" id="packages">github</a>
              <a href="#" class="top-button" id="download">download</a>
          </div>
        </top-section>
      </header>

      <section class="info">
        <section-content id="full-width">
          <li>
            <p>
            OpenDML is capable of simulating large scale 
            <a href="https://en.wikipedia.org/wiki/Soft-body_dynamics#Spring/mass_models">spring-mass based</a>
            structures. By leveraging a parallel GPU based implementation, we are able to achieve realtime simulation of structures composed of millions of elements.
            </p>
          </li>
        </section-content>
      </section>

      <section>
          <section-content>
              <li>
                  <div class="expander feature " id="f1">
                      <div class="name">CPU and GPU Support</div>
                      <div class="inner">
                          <p>High-performance multithreaded backends are provided for CPUs and CUDA capable
                            GPUs.
                          </p>
                      </div>
                  </div>
              </li>
              <li>
                  <div class="expander feature " id="f2">
                      <div class="name">Cross-platform</div>
                      <div class="inner">
                          <p>OpenDML officially supports Windows and Linux, with experimental macOS support.</p>
                      </div>
                  </div>
              </li>
              <li>
                  <div class="expander feature " id="f3">
                      <div class="name">Design Markup Language</div>
                      <div class="inner">
                          <p>OpenDML simulations are programatically configured using a design markup language.</p>
                      </div>
                  </div>
              </li>
              <li>
                  <div class="expander feature " id="f4">
                      <div class="name">Visualization</div>
                      <div class="inner">
                          <p>A Qt GUI is provided for visualizating simulations. Graphs report real time data 
                            from the physics internals.
                          </p>
                      </div>
                  </div>
              </li>
          </section-content>
      </section>

      <section id="main">
        <section-content>
            {{ content }}
        </section-content>
      </section>

      <footer>
        <section>
          <section-title>
            Maintained by <a href="#">Columbia Creative Machines Lab</a>
          </section-title>
          <section-content>
            <li>
              <p>
                Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a>
              </p>
            </li>
          </section-content>
        </section>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
